.company-logo {
    height: 8vh;
    width: 10vw;
}

.navbar-container{
    background-color: white;
    height: 10vh;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .company-logo {
        width: 40%;
    }
  }